
<h2>Add a new loan to compare</h2>
<div class="col-md-2"></div>
<div class="col-md-8">
<form action="/loans" method="POST">
  <div class="form-group">
    <label for="loan_amount">Loan Amount:     </label>
    <input type="text" name="loan_amount" id="loan_amount">
  </div>
  <div class="form-group">
    <label for="present_value">Amount Received:</label>
    <input type="text" name="present_value" id="present_value">
  </div>
  <div class="form-group">
    <label for="loan_term">Loan Term:       </label>
    <input type="text" name="loan_term" id="loan_term">
  </div>
  <div class="form-group">
    <label for="annual_rate">Annual Rate:     </label>
    <input type="text" name="annual_rate" id="annual_rate">
  </div>
  <input class="btn btn-primary" type="submit" id='submit' value="submit">
</form>
</div>
<div class="col-md-2"></div>
